UnityPanelWidget,
.unity-panel {

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (@base_color),
                                     color-stop (0.6, @base_color),                                     
                                     to (#d6d6d6));
    border-width: 0px;
	border-style: none;
}

.unity-panel.menubar,
.unity-panel .menubar {
    color: @theme_text_color;
	text-shadow: @theme_shadow_color;        
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0px;

    /* icon-shadow: 0 1 shade (@bg_color, 1.06); */
}

/*
.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 1.4)),
                                     to (shade (@bg_color, 1.02)));

    color: @fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.88)),
                                           to (shade (@bg_color, 0.9)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@bg_color, 1.7)),
                                                 to (shade (@bg_color, 1.02)));
}
*/

